<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Your Auctions | E-valuuate</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/price-range.css" rel="stylesheet">
    <link href="stylesheets/animate.css" rel="stylesheet">
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/responsive.css" rel="stylesheet">


</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">

					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><p> Hi </p></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" width="240" height="60" /></a>
						</div>

					</div>
					<!--hi "buyer name" comes here-->
                    <div class="col-sm-8">
						<div class="shop-menu pull-right">
							<div class="col-sm-3">
						<!-- <div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div> -->
					</div>
							<ul class="nav navbar-nav">
                                <% if (user) { %>
                                <li><a href="#"><i class="fa fa-crosshairs"></i>Hi <%= user.user_name %></a></li>
                                <% } %>
								<li><a href="/"><i class="fa fa-crosshairs"></i>Home</a></li>
								<li><a href="/users/settings"><i class="fa fa-crosshairs"></i>Settings</a></li>
								<li><a href="/dashboard"><i class="fa fa-shopping-cart"></i>Dashboard</a></li>
                                <% if(user) { %>
                                    <li><a href="/auth/logout"><i class="fa fa-lock"></i>Logout</a></li>
                                <% }else{ %>
                                    <li><a href="/auth/login"><i class="fa fa-lock"></i>Login</a></li>
                                <% } %>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<!--/header-bottom can be inserted later "For front end reference"-->
	</header><!--/header-->


<!-- unpaid auctions -->
    <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">My Unpaid Wins</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="Status">Status</td>
							<td class="description">Name</td>
							<td class="Validity">Pay By</td>

							<td class="price">My Bid
								</td>

							<!-- the bid feild and button comes here -->
							<td>  </td>
						</tr>
					</thead>
					<tbody id="evillol">

					</tbody>
				</table>
			</div>
		</div>
	</section>


<!--  ongoing auctions-->
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">My Ongoing Auctions</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="Status">Status</td>
							<td class="description">Name</td>
							<td class="Validity">End time</td>
							<td class="price">Bid Amount</td>
							<!-- the bid feild and button comes here -->
							<td></td>
						</tr>
					</thead>
					<tbody id="biglol">

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->


<!-- terminated auctions -->
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">My Terminated Auctions</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="Status">Status</td>
							<td class="description">Name</td>
							<td class="Validity">End time</td>
							<td class="price">My Bid</td>
							<!-- the bid feild and button comes here -->
							<td></td>
						</tr>
					</thead>
					<tbody id = "paidlol">


					</tbody>
				</table>
			</div>
		</div>
	</section>

<!--/Footer-->


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src = "/javascripts/dash.js"></script>
</body>
</html>
