<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Your Auctions | E-valuuate</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

    
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><p> Hi </p></a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" width="200" height="150" /></a>
						</div>
						
					</div>
					<!--hi "buyer name" comes here-->
				</div>
			</div>
		</div><!--/header-middle-->
	
		<!--/header-bottom can be inserted later "For front end reference"-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">My Ongoing Auctions</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="Status">Status</td>
							<td class="Validity">End time</td>
							<td class="image">Auction</td>
							<td class="description">Status</td>
							<td class="price">Place a Bid</td>
							<!-- the bid feild and button comes here -->
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_Status">
								<p>Active</p>
							</td>
							
							<td class="cart_Validity">
								<p>Soon</p>
							</td>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a> <!-- the item comes here-->
							</td>
							<td class="cart_description">
								<p> Item name</p> <!-- PLace holder for time to end-->
							</td>
							<td class="cart_price">
								<div class="cart_price_button">
									<input class="cart_price_input" type="text" name="Bid" autocomplete="off" size="6">
									
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_Status">
								<p>Active</p>
							</td>
							
							<td class="cart_Validity">
								<p>Soon</p>
							</td>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a> <!-- the item comes here-->
							</td>
							<td class="cart_description">
								<p> Item name</p> <!-- PLace holder for time to end-->
							</td>
							<td class="cart_price">
								<div class="cart_price_button">
									<input class="cart_price_input" type="text" name="Bid" autocomplete="off" size="6">
									
								</div>
							</td>
						</tr>
						<tr>
							<td class="cart_Status">
								<p>Active</p>
							</td>
							
							<td class="cart_Validity">
								<p>Soon</p>
							</td>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a> <!-- the item comes here-->
							</td>
							<td class="cart_description">
								<p> Item name</p> <!-- PLace holder for time to end-->
							</td>
							<td class="cart_price">
								<div class="cart_price_button">
									<input class="cart_price_input" type="text" name="Bid" autocomplete="off" size="6">
									
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li class="active">My Wins</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="Status">Status</td>
							<td class="Validity">End time</td>
							<td class="image">Auction</td>
							<td class="description">Status</td>
							<td class="price">Place a Bid</td>
							<!-- the bid feild and button comes here -->
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_Status">
								<p>Paid/Unpaid</p>  <!-- place holder  -->
							</td>
							
							<td class="cart_Validity">
								<p>Terminated Auction</p>
							</td>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a> <!-- the item comes here-->
							</td>
							<td class="cart_description">
								<p> Item name</p> <!-- PLace holder for time to end-->
							</td>
							<td class="cart_price">
								<div class="cart_price_button">
									<p>My Placed Bid</p> <!-- PLace holder for time to end-->
									<input class="cart_price_input" type="text" name="Bid" autocomplete="off" size="6">
									
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_Status">
								<p>Paid/Unpaid</p>  <!-- place holder  -->
							</td>
							
							<td class="cart_Validity">
								<p>Terminated Auction</p>
							</td>
							<td class="cart_product">
								<a href=""><img src="images/cart/one.png" alt=""></a> <!-- the item comes here-->
							</td>
							<td class="cart_description">
								<p> Item name</p> <!-- PLace holder for time to end-->
							</td>
							<td class="cart_price">
								<div class="cart_price_button">
									<p>My Placed Bid</p> <!-- PLace holder for time to end-->
									<input class="cart_price_input" type="text" name="Bid" autocomplete="off" size="6">
									
								</div>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</section>

<!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>